.ReqList{
    width:40%;
    box-shadow: 2px 2px 5px slategrey;
}

.ReqList .collection, .ReqList .collection > .collection-item{
    margin: 0 !important;
    width: 100% !important;
    padding :0 !important;
    background: whitesmoke;
}

.friendReqUser span:first-child{
     width: 35px;
     height:35px;
     margin:2%;
     display: inline-block;
}

.friendReqUser span:first-child > img{
    width:100%;
    height:100%;
    border-radius: 50%;
}

.friendReqUser span:nth-child(2) {
    font-family: Tahoma, sans-serif !important;
    color: black;
}

.friendReqUser > button {
    float:right;
    margin: 3% 2% 0 0;
    outline: none;
    border:none;
    box-shadow: 2px 2px 5px gray;
}