.messagelist{
    position: absolute;
    top: 8.5%;
    left: 13%;
    width: fit-content;
    opacity: 1;
    z-index: 2;
    background: whitesmoke;
    box-shadow: 0 0 5px 0.5px black;
}

.messagelist ul{
    margin: 0;
}

.messagelist li {
    border-bottom:1px solid lightgray;
    cursor: pointer;
    padding: 2%;
    font-size: 0.9em;
    font-family: Tahoma, sans-serif !important;
}

.messagelist li:hover{
    background-color: #dcdcdc;
}

